/* Color Theme Swatches form Adobe color */
$dark-red-hex: #A60A17;
$red-hex: #D90D32;
$gray-hex: #8b8b8b;
$green-hex: #04bfad;
$dark-green-hex: #038C7E;

// Colors
.success {
  color: $dark-green-hex;
}

.danger {
  color: $red-hex;
}
