.legend {
  display: inline-block;
  margin: 0 20px;

  span {
    cursor: pointer;
  }

  .box {
    display: inline-table;
    margin-right: 6px;
    width: 12px;
    height: 12px;
  }

  .readings {
    color: $dark-green-hex;

    .box {
      background-color: $dark-green-hex;
    }
  }

  .z-score {
    color: $dark-red-hex;

    .box {
      background-color: $dark-red-hex;
    }
  }

  .readings.hidden, .z-score.hidden {
    color: $gray-hex;
    .box {
      background-color: $gray-hex;
    }
  }
}