/* Color Theme Swatches in Hex */
$dark-red-hex: #A60A17;
$red-hex: #D90D32;
$gray-hex: #8b8b8b;
$green-hex: #04bfad;
$dark-green-hex: #038C7E;

/* Color Theme Swatches in RGBA */
$dark-red-rgba: rgba(165, 10, 23, 1);
$red-rgba: rgba(216, 13, 49, 1);
$GRAPH-3-rgba: rgba(139, 139, 139, 1);
$GRAPH-4-rgba: rgba(4, 191, 172, 1);
$dark-green-rgba: rgba(2, 140, 126, 1);



$font-family: 'Noto Sans',
sans-serif;


body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Chart
.card {
  max-width: 900px;
  margin: 20px auto;
  padding: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  h1 {
    display: inline-block;
    margin: 0 20px;
    font-weight: 100;
    font-size: 25px;
    color: gray;
  }

  span.error {
    font-size: 12px;
    font-weight: bolder;
  }

  &:hover .timestamp {
    opacity: 1;

  }

  .chart-container {
    height: 180px;
    width: 100%;
    overflow: hidden;

    &.faded {
      filter: grayscale(30%);
      opacity: 0.3;
      cursor: no-drop;
    }
  }
}

// Text
span {
  display: inline-block;
  margin: 10px;
}

.status {
  float: right;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.legend {
  display: inline-block;
  margin: 20px 20px 0;
}

.timestamp {
  float: right;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
  font-size: 14px;
  opacity: 0;
}

// Colors
.success {
  color: $dark-green-hex;
}

.danger {
  color: $red-hex;
}

.success-bg {
  background: $green-hex;
}

.danger-bg {
  background: $red-hex;
}

// overwritin d3 default styles
svg.z-chart {

  .series.hidden {
    opacity: 0;
  }

  g.y-axis,
  g.x-axis {


    path.domain {
      stroke: none;
    }

    g.tick {
      line {
        stroke: none;
      }

      text {

        font-family: $font-family;
        color: $GRAPH-3-rgba;
      }
    }
  }

  .x-axis {
    opacity: 0 !important;
  }

  &:hover {
    .x-axis {
      opacity: 1 !important;
    }
  }

}


.legend {
  span {
    cursor: pointer;
  }

  .box {
    display: inline-table;
    margin-right: 6px;
    width: 12px;
    height: 12px;
  }

  .readings {
    color: $dark-green-hex;

    .box {
      background-color: $dark-green-hex;
    }
  }

  .z-score {
    color: $dark-red-hex;

    .box {
      background-color: $dark-red-hex;
    }
  }


}

.pulse {
  margin: auto 8px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.success .pulse {
  animation: pulse 2s infinite;
  background: $dark-green-hex;
  box-shadow: 0 0 0 $dark-green-hex;
}

.danger .pulse {
  animation: none;
  background: $red-hex;
  box-shadow: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(2, 140, 126, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(2, 140, 126, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(2, 140, 126, 0);
  }
}