body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Chart
.card {
  margin: 20px;
  padding: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .chart-container {
    height: 180px;
    width: 100%;
    overflow: hidden;

    &.error {
      filter: grayscale(30%);
      opacity: 0.3;
      cursor: no-drop;
    }
  }
}

// Text
span {
  display: inline-block;
  margin: 10px;
}

.status {
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.timestamp {
  float: right;
}

// Colors
.success {
  color: green;
}

.danger {
  color: red;
}

.success-bg {
  background: green;
}

.danger-bg {
  background: red;
}